<!doctype html>
<html lang="en" xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{Main-Layout}" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
    <div layout:fragment="content">
        <div class="row " style="margin-top: 60px">
            <div class="col-md-4 col-sm-6 col-12 " style="margin-bottom: 120px; height: 10000px"
                 th:each="video :${session.listvideo}">
                <div class="mb-2">
                    <a class="nav-link" th:href="@{/watch(v=${video.url})}" >
                        <img style="width: 100%; height: 220px" class="rounded" th:src="'/images/' + ${video.image}"
                             alt="">
                    </a>
                </div>
                <div class="row item-image-author">
                    <div class="col-1">
                        <a href="#">
                            <img class="rounded-circle" th:src="'/images/' + ${video.user.image}" alt="">
                        </a>
                    </div>
                    <div class="col-10 mx-2">
                        <a class="nav-link" th:href="@{/watch(v=${video.url})}" >
                            <span class="video-title"><strong th:text="${video.title}"></strong></span>
                        </a>
                        <a class="nav-link" href="">
                            <span th:text="${video.user.name}">Tác giả</span>
                        </a>
                        <a class="nav-link" th:href="@{/watch(v=${video.url})}" >
                            <span>Lượt xem * thời gian</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>